body{
    background-color:rgb(88, 38, 226);
    color:white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
   
    height: 500px;
}
p{
    margin-left: 2.5em;
    margin-top: 2.5em;
    text-indent: 4%;
  
}
.center{
    display: block;
    margin-left: 25em;
    margin-right: auto;
   
}
h1{
    font:bold;
    color:rgb(50, 204, 30);
}
h2{
    color: rgb(24, 153, 212);
}
.info{
    margin-left:2% ;
}
h3{
    color: rgb(166, 201, 12);
}
.ceo{
    margin-right:10em ;
}
nav{
    width: 80%;
    height:60px;
    background-color: #fff;
}
nav ul{
    float: left;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
   
}
nav ul li a{
    display: block;
    font-family: sans-serif;
    color: #222;
    font-size: 20px;
    padding:2px 10px;
    text-decoration: none;
}
nav ul li a:hover{    
    background-color: #294ff7;

}
.table tr {

    color: black;
     background-color: rgb(84, 199, 252);
     border-width: 20ch;
     border-color: black;
}
.footer{
    width: 100%;
    background: #fff;
    display: block;
}
.inner-footer{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}
.footer-items{
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
h3{
    padding: 10px 0;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
}
.footer-items{
    color: black;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}
h3{
    margin: 10px 0;
    color:black;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}
.border{
    height: 2px;
    width: 40px;
    background: black;
}
ul{
    list-style: nane;
    color: bla;
    font-size: 15px;
    letter-spacing: 0.5px;
}
ul a{
    text-decoration: none;
    outline: none;
    color: black;
    transition: 0.3s;
}
ul a:hover{
    color: black;
}
ul li{
    margin: 10px 0;
    height: 25px;
}
li i{
    margin-right: 20px;
}
.footer-bottom{
    padding: 10px;
    background: #3d545f;
    color: #fff;
    font-size: 12px;
}

@viewport{
    width: device-width;
    zoom=1.0;
}
@-ms-viewport{
    width: device-width;
}





